@{
ViewData["Title"] = "Trang Chủ";
var categoriesNames = ViewData["CategoriesNames"] as IList<string>;
  }

  @* Su Kien *@
  <section id="suKien">
    <div div="container-xl" style="position:relative">
        <img class="img-fluid" src="images/HeroImage.png" alt="HeroImage" />
        <div style="position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);"> <a asp-controller="Search" asp-action="Index" class="btn btn-lg btn-primary">Shop Now</a></div>
    </div>
  </section>
  @* Danh Muc *@
  <section id="danhMuc">
    <div class="container-xl bg-light my-3">
      <h2 class="text-center">
        Danh mục sản phẩm
      </h2>
      <div class="list-group list-group-horizontal justify-content-around">
        @foreach (var categoryName in categoriesNames)
        {
          var pathImage = "images/" + categoryName + ".png";
        <a class="list-group-item" asp-controller="Products" asp-action="Category" asp-route-categoryName ="@categoryName">
          <img src="@pathImage" class="img-fluid " alt="">
          <div class="text-center">
            <em class="bi bi-tv"></em>
            <span class="fw-bold">@categoryName</span>
          </div>
        </a>

        }
      </div>
    </div>
  </section>
  @* Area display of Product show all Type have (Tivi, Amply, Speaker,...) *@
  <section id="showProduct">
    <div class="container-xl">
      <div  id="showProduct" >
      </div>
    </div>
  </section>

  <script>
    $(document).ready(function () {
      var showProduct = $("div#showProduct");
      var categoryName = showProduct.attr("data-categoryName");
      $("div#showProduct").load("/Products/ShowProductsByCategory/?quantity=5");
    });

  </script>