  @{
  ViewData["Title"] = "Trang Chủ";
  }

  @* Su Kien *@
  <section id="suKien">
    <div div="container-xl ">
      <div class="row justify-content-center">
        <div class="col-lg-6 px-0">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="images/Event1.png" class="d-block w-100 img-fluid" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="50000">
                <img src="images/Event2.png" class="d-block w-100 img-fluid" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="10000">
                <img src="images/Event3.png" class="d-block w-100 img-fluid" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="col-lg-3 px-1 d-none d-lg-block">
          <img class="img-fluid pb-1" src="images/EventSm1.png" alt="">
          <img class="img-fluid" src="images/EventSm2.png" alt="">
        </div>
      </div>

    </div>
  </section>
  @* Danh Muc *@
  <section id="danhMuc">
    <div class="container-xl bg-light my-3">
      <h2 class="text-center">
        Danh mục sản phẩm
      </h2>
      <div class="list-group list-group-horizontal justify-content-around">
        <a class="list-group-item" href="#tiviProduct">
          <img src="images/Tivi.png" class="img-fluid " alt="">
          <div class="text-center">
            <em class="bi bi-tv"></em>
            <span class="fw-bold">Tivi</span>
          </div>

        </a>
        <a class="list-group-item" href="#amplyProduct">
          <img src="images/Amply.png" class="img-fluid " alt="">
          <div class="text-center">
            <em class="bi bi-music-player"></em>
            <span class="fw-bold">Amply</span>
          </div>
        </a>
        <a class="list-group-item" href="#loaProduct">
          <img src="images/Loa.png" class="img-fluid " alt="">
          <div class="text-center">
            <em class="bi bi-speaker"></em>
            <span class="fw-bold">Loa</span>
          </div>
        </a>
      </div>
    </div>
  </section>
  @* Area display of Product show all Type have (Tivi, Amply, Speaker,...) *@
  <section id="showProduct">
    
  </section>

  <script type="text/javascript" src="~/bootstrapRating/bootstrap-rating.js"></script>
  <script>
    $('input.rating').rating({
      filled: 'bi bi-star-fill',
      empty: 'bi bi-star'
    });

    $(document).ready(function () {
      $("select#showProduct").load();
    });

  </script>