@model IEnumerable<NewsViewModel>

@{
    ViewData["Title"] = "Tin tức";
}
<h2 class="text-center">
    <b>@ViewData["Title"]</b>
</h2>
<h5>Nguồn: NewsAPI.org</h5>
<p class="text-danger">@ViewBag.ErrorMessage</p>
<p>(Pricing Free for development: 100 news and 100 request in day)</p>
@await Html.PartialAsync("_NewsFound", Model)